.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
	/* visibility: hidden; */
	opacity: 0;
	display: grid;
	justify-content: center;
	align-content: center;
	transition: opacity 0.3s ease-in-out;
}

.modal-visible {
	z-index: 10;
	opacity: 1;
}

.modal-window {
	background-color: grey;
	position: relative;
	width: 60vw;
	height: 450px;
}

.btn-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: transparent;
	border-color: transparent;
}

.btn-close svg {
	font-size: 2rem;
	color: #535bf2;
}
