.modal-overlay {
	position: absolute;

	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);

	z-index: -1;
	visibility: hidden;
	opacity: 0;
	display: grid;
	justify-content: center;
	align-content: center;
}

.modal-visible {
	z-index: 10;
	visibility: visible;
	opacity: 1;
}

.modal-window {
	background-color: grey;
	width: 60vw;
	height: 700px;
}
